@import "null.css";
 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

@font-face {
	font-family: "OpenSansCondensed";
	src: url("../fonts/OpenSansCondensed-Light.woff2") format("woff2"), url("../fonts/OpenSansCondensed-Light.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Oswald-Regular";
	src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.block{
	font-size: 30px;
	text-align: center;
	padding: 40px;
	font-family: "OpenSansCondensed";
	
}

.block-2{
	padding: 40px;
    
}

.block-3{
	padding: 20px 30px 40px 20px;
	font-family: "Oswald-Regular";
	width: 300px;
}
 .block-4{
	 padding: 200px;
 }